// CSS → SCC variables
$main-text-color: #757575;
$focus-color: #2196f3;
$focus-text-color: #ffffff;
$primary-white: #ffffff;
$logo-black: #000000;
$logo-white: #ffffff;
$inactive-black: #212121;
$button-grey: #f5f4fa;
$icon-inactive: #afb1b8;
$footer-bg-color: #2f303a;

$cubic-animation: cubic-bezier(0.4, 0, 0.2, 1);

//   variables from CSS → SCSS
// :root {
//   --main-text-color: #757575;
//   --focus-color: #2196f3;
//   --focus-text-color: #ffffff;
//   --primary-white: #ffffff;
//   --logo-black: #000000;
//   --logo-white: #ffffff;
//   --inactive-black: #212121;
//   --button-grey: #f5f4fa;
//   --icon-inactive: #afb1b8;

//   --cubic-animation: cubic-bezier(0.4, 0, 0.2, 1);
// }
