/* Regular customers */

.customers {
  @extend %list;
  display: flex;
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__link {
  @include flex-center();
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: $icon-inactive;

  transition: fill 250ms $cubic-animation, border-color 250ms $cubic-animation;

  &:hover,
  &:focus {
    fill: $focus-color;
    border-color: $focus-color;
  }
}
